/*Bienvenida*/

.welcome{
    color: #ffffff;
    font-family: 'Bitter','Open Sans',sans-serif;
    margin-bottom:-20px;
}

.welcome:hover{
    color:white;
    text-decoration: underline;
}


/*Estilos para el Dashboard*/
.grid-dashboard h3{
    font-size: 36px;
    font-weight: 5px;
    font-family: 'Bitter','Open Sans',sans-serif;
    color: #204056;
}

.grid{
    background-color: #fff;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom:20px;
    margin-top: 10px;
    border: #e0e0e0 1px solid;
    
}

.grid:hover{
    -moz-box-shadow: 0 0 10px #ccc; 
    -webkit-box-shadow: 0 0 10px #ccc; 
    box-shadow: 10px 10px 5px #ccc;
    border-bottom: solid 5px #31a463;
}


.grid a{
    text-decoration: none;
}
/*Terminan estilos para el dashboard */

/*Estilos dashboard proyectos */
.grid-dashboard-proyecto h3{
    font-size: 36px;
    font-weight: 5px;
    font-family: 'Bitter','Open Sans',sans-serif;
    color: #204056;
}

.gridproyectos{
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:20px;
    border: #e0e0e0 1px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

}

.gridproyectos:hover{
    -moz-box-shadow: 0 0 5px #ccc; 
    -webkit-box-shadow: 0 0 5px #ccc; 
    box-shadow: 10px 10px 5px #ccc;
    
}

.gridproyectos a:hover{
    color: #088A08;
    text-decoration: underline;
}
  

/*Termina estilos dashboard proyectos */

/*Styles form proyectos*/
.grid-form-1-proyecto h3{
    font-size: 36px;
    font-weight: 5px;
    font-family: 'Bitter','Open Sans',sans-serif;
    color: #204056;
}

#formulario label{
    font-size:16px;
   font-family: 'Montserrat','Open Sans',sans-serif;
}
