/*Login Page*/
.navbartop{
    border-bottom: solid #31a463 5px;
}

.navbarbottom{
   border-top: solid #f1f1f1 1px;
}

.navbar p.menutop{
  font-size:30px;
  margin-top:5px;
  font-family:'Montserrat','Roboto',Helvetica,sans-serif;
  text-align: center;
}

.menutop{
  font-size:30px;
  margin-top:5px;
  font-family:'Montserrat',sans-serif;
}
#LoginPage label{
  font-weight: 400;
}

#LoginPage #panel-left img{
    padding-top: 50px;
}


#LoginPage #panel-left .panelfooter{
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  background-color: #31a463;
}

#LoginPage #panel-left .panelfooter h3{
  margin: 0px 0px 0px 0px;
  font-family: 'Montserrat',sans-serif;
  color: #fff;
  font-weight: 700;
  padding-top:20px;
  text-align: center; 
  
}

#LoginPage #panel-left .panelfooter p{
  font-family: 'Roboto slab','Nunito',Helvetica,sans-serif;
  color: #fff;
  font-weight: 400;
  padding-top:20px;
  padding-left:15px;
  padding-right:15px;
  text-align: justify;
  padding-bottom:50px;
}

#LoginPage #panel-right {
  margin-top:50px;    
}

#LoginPage #panel-right h4{
    font-family: 'Montserrat','Roboto',sans-serif;
     margin-left:15px;
}

#LoginPage #panel-right a{
    margin-left: 15px;
}

#LoginPage #panel-right .formheadingtitle{
  margin-bottom:-20px;
  font-family: 'Montserrat','Roboto',sans-serif;
  font-weight: 0;
}

#LoginPage #panel-right .formheading{
  float:right; 
  font-size: 90%;
  position: relative; 
}

#LoginPage #panel-right .panel-body label{
    margin-left:3px;
    font-family: 'Roboto Slab','Nunito',Helvetica;
    
}

#LoginPage #panel-right .panel-body a{
    margin-left: 0px;
}

footer a:hover{
  text-decoration: none;
}

.separetedinput{
  margin-bottom:10px;

}

/*Create Page*/
#CreatePage{
    padding-top: 50px;
}

#CreatePage #panel-left .panel-footer{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    background-color: #31a463;
}
#CreatePage #panel-left h3{
    text-align: center;
    color:#fff;
    font-family: 'Montserrat','Roboto',Helvetica;
    font-weight: 700;
    padding-bottom: 10px;


}

#CreatePage #panel-left p{
    text-align: center;
    padding-bottom:50px;
    color:#fff;
    font-weight: 400;
    font-family: 'Roboto Slab','Nunito',sans-serif;
    text-align: justify;
}

#CreatePage #panel-right .panel-heading h3{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    

}

#CreatePage #panel-right .panel-body{
    padding-bottom: 0px;
}
/*Bienvenida*/

#welcome{
    text-align: center;
    background-attachment: scroll;
    background-image: url(../img/backgrounds/bienvenida.jpg);
    background-position: center center; 
}

#welcome button{
    text-align: center;
}

#welcome button a{
    color:#fff;
}

/*Estilos para el Dashboard*/

.grid-dashboard h3{
    font-size: 36px;
    font-weight: 700;
    font-family: 'Montserrat','Roboto',sans-serif;
    color: #204056;
}

.grid{
    background-color: #fff;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom:20px;
    margin-top: 10px;
    border: #e0e0e0 1px solid;
    
}

.grid:hover{
    -moz-box-shadow: 0 0 10px #ccc; 
    -webkit-box-shadow: 0 0 10px #ccc; 
    box-shadow: 10px 10px 5px #ccc;
    border-bottom: solid 10px #ff9900;
    background-color: #343D46;

}


.grid a{
    text-decoration: none;
}

.grid a:hover{
    text-decoration: none;
    color:yellow;
    
}
/*Terminan estilos para el dashboard */

/*Estilos dashboard proyectos */
.grid-dashboard-proyecto h3{
    font-size: 36px;
    font-weight: 5px;
    font-family: 'Bitter','Open Sans',sans-serif;
    color: #204056;
}

.gridproyectos{
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:20px;
    border: #e0e0e0 1px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

}

.gridproyectos:hover{
    -moz-box-shadow: 0 0 5px #ccc; 
    -webkit-box-shadow: 0 0 5px #ccc; 
    box-shadow: 10px 10px 5px #ccc;
    
}

.gridproyectos a:hover{
    color: #088A08;
    text-decoration: underline;
}
  

/*Termina estilos dashboard proyectos */

/*Styles form proyectos*/
.grid-form-1-proyecto h3{
    font-size: 36px;
    font-weight: 5px;
    font-family: 'Montserrat','Open Sans',sans-serif;
    color: #204056;
}

#formulario label{
    font-size:16px;
   font-family: 'Montserrat','Open Sans',sans-serif;
}

/*Pagina de resetear contraseña*/
#resetpass{
    text-align: center;
    color: black;
    background-attachment: scroll;
    min-height: 88%;
    background-image: url('../img/backgrounds/bg1.jpg') ; 
    background-position: center center;
    background-repeat: none;

}

#resetpass .content{
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 1px solid black;
}

#resetpass h3.panel-title{
    font-family: 'Montserrat','Roboto',Helvetica;
    font-size: 32px;
    font-weight: 700px;
}

#resetpass h3.panel-content{
    font-family: 'Montserrat','Roboto',Helvetica;
    font-size:16px;
    font-weight: 600px;
    color: #f8f8f8;
}

#resetpass div.panel-body{
    font-family: 'Roboto Slab','Nunito',Helvetica;
}
/*Termina Pagina de resetar Contraseña**/

/*Contacto page*/
#contacto{
    font-family: 'Roboto slab',Helvetica;
    font-weight: 700px;
}

#contacto h3{
    font-family: 'Montserrat','Roboto',Helvetica;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color:#204056;
}

#contacto small a:hover{
    text-decoration: none;
    color:#337ab7;
    border-color: #2e6da4;
}
/*Termina contacto page styles*/
/*Cms Page*/

#cms .heading{
    text-align: center;
    font-family: 'Montserrat','Roboto',Helvetica;
    font-weight: 700;
    font-size: 36px;
    color:#204056;
}

#cms small a:hover{
    text-decoration: none;
    color:#337ab7;
    border-color: #2e6da4;
}

#cms button#add{
    margin-bottom: 15px;
}

#cms thead{
    background-color: #343D46;
    border-bottom: 1px solid white;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 0;
}
/*Termina CMS page styles*/


#chat-page{
    text-align: center;
    background-attachment: scroll;
    background-image: url(../img/backgrounds/bg5.jpg);
    background-position: center center;  
}

#chat-page .heading h3{
    font-family: 'Montserrat','Roboto',Helvetica;
    font-weight: 700;
    font-size: 36px;
    /*color:#204056;*/
    color:#fff;
}

#bg-change-password{
    text-align: center;
    background-attachment: scroll;
    background-image: url(../img/backgrounds/bgpassword.jpg);
    background-position: center center;  
}

#change-password{
    padding-top: 150px;
}

#change-password .panel{
    border:2px solid #f1f1f1;
}
#change-password .panel-heading h2{
    text-align: center;
    font-family: 'Montserrat','Roboto',Helvetica;
    font-weight: 700;
    font-size: 36px;


}

#change-password .panel-body div.auxfot{
    padding-top: 10px;
    padding-bottom: 10px;
}
